services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'America/New_York'
      # FTLCONF_webserver_api_password: ''
      FTLCONF_dns_rateLimit_count: 2000
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - '/mnt/data/etc-pihole:/etc/pihole'
    cap_add:
      - SYS_NICE
    restart: unless-stopped